body {
  margin: 0;
  background: transparent url('/assets/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

nav {
  text-align: center;
  margin: 0;
  padding: 5px;
  color: white;
  border-bottom: 5px solid #000;
}

nav h1 {
  font-size: 3rem;
}

.row {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#container {
  width: 65%;
  display: flex;
  flex-direction: column;
}

#forecast {
  display: flex;
  justify-content: space-between;
}


